body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;

  }
  
  h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    
    color: #AE7C78;
  }

  .main-blick__description_title {
    font-style: italic;
  }

  .main-blick__description p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #AE7C78;
  }
  
 ul {
  list-style:none;

 }

 li {
  display: inline;
 }

 a {
   text-decoration: none;
   font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;
 }

 .page-nav_list {
   text-align: justify;
   border-top: 1px solid #AE7C78;
   border-bottom: 1px solid #AE7C78;
 }

 .view-catalog {
  width: 285px;
  height: 80px;
  background: #D89999;
  border-radius: 40px;
 }

 .view-catalog a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }


 .main-block__image {
   text-align: right;
 }

.discount {
  background: #AE7C78;
}

.discount__description p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

.discount__image {
  text-align: right;
}


.icondop-delivery::after {
  content: url(\icon-machine.svg); 
  width: 82px;
  height: 52px;
}

.icondop-fresh::after {
  content: url(\icon-bouquet-a.svg); 
  width: 52px;
  height: 52px;
}

.icondop-camera::after {
  content: url(\icon-photo.svg); 
  width: 58px;
  height: 52px;
}

